# This file what I want the final config structure to look like

# Add your executable options here
# In the format: name, command
# name = the way it will appear in the list
# command = what will be executed once that has been selected

[menu.options]
Matrix Terminal Text (CMatrix), cmatrix
Music Visualiser (Cava), cava
File Manager (Clifm), clifm
Music Player (Spotify), spotify_player
Offline Music Player (Musikcube), musikcube

[menu.sort]
sort = "default"
# sort can be either "alphabetic", "most used" or "default"
# default will sort in the way they are listed in the config

[menu.color]
list-colors = "" 
# list-colors can be the name of any color (e.g. "red")
# or a list of colors (e.g. "red", "blue", "green")
# or "random" for each list item to get a random color
# or "random-full" for the entire list to be a random color
