# This file what I want the final config structure to look like

# Add your executable options here
# In the format: name, command, color (optional)
# name = the way it will appear in the list
# command = what will be executed once that has been selected
# color = color displayed for that option
# Go here for a list of color options: https://spectreconsole.net/appendix/colors

[menu.options]
Matrix Terminal Text (CMatrix), cmatrix
Music Visualiser (Cava), cava
File Manager (Clifm), clifm, blue
Music Player (Spotify), spotify_player, green
Offline Music Player (Musikcube), musikcube

[menu.theme]
MainColor=
SelectionColor=
TitleColor

[menu.sort]
sort = "default"
# sort can be either "alphabetic", "most used" or "default"
# default will sort in the way they are listed in the config
